*{
    padding: 0;
    margin: 0;
}
#row1{
    width: 100%;
    height: 60px;
    background-color: #755;

}
.topsection{
    width: 54%;
    margin: 0 auto;
}
.logo{
    width: 14%;
    float: left;
}
.logo img{
    height: 60px;

}
.menu{
    width: 65%;
    float: left;
}
.menu ul{

}
.menu ul li{
    list-style: none;
    float: left;
    margin-left: 30px;
    line-height: 60px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
}
#row2{
 height: 500px;
 width: 100%;
 background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU_D4W9r9BYJmZnfTzRTH0-_Nz0fd3h9UM_w&usqp=CAU);
 background-size: cover;
 background-repeat: no-repeat;
 background-repeat: round;
}
.banner_section{
 
}
.banner_section h2{
    padding-top: 200px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.banner_section p{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
