*{
    padding: 0;
    margin: 0;
}
#row1{
    width: 100%;
    height: 60px;
    background-color: #755;

}
.topsection{
    width: 54%;
    margin: 0 auto;
}
.logo{
    width: 14%;
    float: left;
}
.logo img{
    height: 60px;

}
.menu{
    width: 65%;
    float: left;
}
.menu ul{

}
.menu ul li{
    list-style: none;
    float: left;
    margin-left: 30px;
    line-height: 60px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
}
